html body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  font-size: 16px; }

.nav-wrap {
  position: fixed;
  width: 100vw;
  height: 55px;
  z-index: 10;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14); }

.main-logo {
  margin-top: .9em; }

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 1em 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-nav li {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
    .main-nav li a {
      color: #212121;
      font-weight: 600;
      font-size: 1em; }
      .main-nav li a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: #03a9f4;
        -webkit-transform: translateY(13px);
            -ms-transform: translateY(13px);
                transform: translateY(13px);
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
      .main-nav li a:hover {
        opacity: .8; }
        .main-nav li a:hover::after {
          width: 100%; }

.social-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0;
  padding: .75em 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .social-block a {
    font-size: 1.3em;
    color: #212121;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .social-block a:hover {
      opacity: .6; }

.showcase {
  position: relative;
  width: 100%;
  height: 85vh;
  background-image: url(../img/showcase_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 2rem;
  overflow: hidden; }
  .showcase-wrap {
    height: 80vh;
    display: block; }
    .showcase-wrap .showcase-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: left;
      -webkit-align-items: left;
          -ms-flex-align: left;
              align-items: left;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .showcase-wrap .showcase-content .title-lg {
        font-family: "Cuprum", sans-serif;
        font-size: 5em;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 1px 1px 20px #fff; }
      .showcase-wrap .showcase-content .title-md {
        font-family: "Cuprum", sans-serif;
        font-size: 3em;
        font-weight: 700;
        line-height: 1em;
        text-shadow: 1px 1px 35px #fff; }
      .showcase-wrap .showcase-content .scroll-down-container {
        position: absolute;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        top: 70vh;
        left: 50vw; }
        .showcase-wrap .showcase-content .scroll-down-container_icon {
          background-image: url(../img/spritesheet4.png);
          background-repeat: no-repeat;
          background-position: -5px -5px;
          display: block;
          height: 73px;
          width: 33px;
          -webkit-animation: animate 1s linear infinite;
                  animation: animate 1s linear infinite; }

.main-btn {
  margin-top: 3em;
  width: 30%; }

.about .title-lg {
  margin-top: 1em;
  text-align: center;
  font-family: "Cuprum", sans-serif;
  font-size: 3.5em;
  font-weight: 700;
  text-transform: uppercase; }

.about .card {
  min-height: 150px; }
  .about .card .card-title {
    font-family: "Cuprum", sans-serif;
    font-size: 3em;
    font-weight: 700;
    line-height: 1em; }

.about .center-card {
  margin-left: 38% !important; }

.services .title-lg {
  -webkit-transform: translateY(250%);
      -ms-transform: translateY(250%);
          transform: translateY(250%);
  text-align: center;
  font-family: "Cuprum", sans-serif;
  font-size: 3.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 40px #fff; }

.services table {
  margin: 5em 0; }
  .services table .table-btn {
    width: 250px; }

.advantages {
  padding: 3em 0;
  background-image: url(../img/advantages_bg.png);
  background-repeat: no-repeat;
  background-position: 0 -400%;
  -webkit-background-size: cover;
          background-size: cover; }
  .advantages .title-lg {
    text-align: center;
    font-family: "Cuprum", sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 2em; }
  .advantages .title-md {
    font-family: "Cuprum", sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1em; }
  .advantages-content i {
    display: block;
    height: 90px;
    width: 90px;
    border: 2px solid #03a9f4;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    float: left;
    margin-right: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff; }
  .advantages-content p {
    margin-bottom: 0; }

.advantages-content_icon1 {
  background-image: url(../img/adv_icon_1.png); }

.advantages-content_icon2 {
  background-image: url(../img/adv_icon_5.png); }

.advantages-content_icon3 {
  background-image: url(../img/adv_icon_2.png); }

.advantages-content_icon4 {
  background-image: url(../img/adv_icon_6.png); }

.advantages-content_icon5 {
  background-image: url(../img/adv_icon_3.png); }

.advantages-content_icon6 {
  background-image: url(../img/adv_icon_7.png); }

.advantages-content_icon7 {
  background-image: url(../img/adv_icon_4.png); }

.advantages-content_icon8 {
  background-image: url(../img/adv_icon_8.png); }

.stages {
  padding-bottom: 1em; }

.stages .title-sm {
  text-align: center;
  font-family: "Cuprum", sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  color: #fff;
  margin: 3em 0; }

.stages .title-lg {
  text-align: center;
  font-family: "Cuprum", sans-serif;
  font-size: 3.5em;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 2em 0; }

.stages .steps i {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 2em;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.stages .steps {
  text-align: center;
  margin-bottom: 5em; }

.steps_icon1 {
  background-image: url(../img/steps_icon1.png); }

.steps_icon2 {
  background-image: url(../img/steps_icon2.png); }

.steps_icon3 {
  background-image: url(../img/steps_icon3.png); }

.steps_icon4 {
  background-image: url(../img/steps_icon4.png); }

.steps_icon5 {
  background-image: url(../img/steps_icon5.png); }

.steps_icon6 {
  background-image: url(../img/steps_icon6.png); }

.steps_icon7 {
  background-image: url(../img/steps_icon7.png); }

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  35% {
    -webkit-transform: translate(-50%, 30px);
            transform: translate(-50%, 30px); }
  70% {
    -webkit-transform: translate(-50%, 20px);
            transform: translate(-50%, 20px); }
  100% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); } }

@keyframes animate {
  0% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  35% {
    -webkit-transform: translate(-50%, 30px);
            transform: translate(-50%, 30px); }
  70% {
    -webkit-transform: translate(-50%, 20px);
            transform: translate(-50%, 20px); }
  100% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); } }
