$blue: #03a9f4
$dark: #212121
$light: #f9f9f9
$bold: 'Cuprum', sans-serif

@import global
@import media

// Nav styles
.nav-wrap
    position: fixed
    width: 100vw
    height: 55px
    z-index: 10
    background-color: $light
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14)

.main-logo
    position: fixed
    margin-top: .9em
    z-index: 2

.main-nav
    display: flex
    height: 100%
    margin: 0
    padding: 1em 0
    flex-direction: row
    justify-content: space-around
    align-items: center
    li
        align-self: center
        a
            color: $dark
            font-weight: 600
            font-size: 1em
            &::after
                content: ''
                display: block
                width: 0
                height: 2px
                background-color: $blue
                transform: translateY(13px)
                transition: all .3s
            &:hover
                opacity: .8
                &::after
                    width: 100%

.social-block
    display: flex
    height: 100%
    margin: 0
    padding: .75em 0
    flex-direction: row
    justify-content: space-around
    align-items: center
    a 
        font-size: 1.3em
        color: $dark
        transition: all .3s
        &:hover
            opacity: .6 

// Showcase styles

.showcase
    position: relative
    width: 100%
    height: 85vh
    background-image: url(../img/showcase_bg.jpg)
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    padding-top: 2rem
    overflow: hidden
    &-wrap
        height: 80vh
        display: block
        .showcase-content
            display: flex
            height: 100%
            flex-direction: column
            align-items: left
            justify-content: center
            .title-lg
                font-family: $bold
                font-size: 5em
                font-weight: 700
                text-transform: uppercase
                text-shadow: 1px 1px 20px #fff
            .title-md
                font-family: $bold
                font-size: 3em
                font-weight: 700
                line-height: 1em
                text-shadow: 1px 1px 35px #fff

    .scroll-down-container
        position: absolute
        box-sizing: border-box
        top: 70vh
        left: 50vw
        &_icon
            background-image: url(../img/spritesheet4.png)
            background-repeat: no-repeat
            background-position: -5px -5px
            display: block
            height: 73px
            width: 33px
            animation: animate 1s linear infinite

.main-btn 
    margin-top: 3em
    width: 40%

// about section styles

.about .title-lg
    margin-top: 1em
    text-align: center
    font-family: $bold
    font-size: 3.5em
    font-weight: 700
    text-transform: uppercase

.about .card 
    min-height: 150px
    .card-title
        font-family: $bold
        font-size: 3em
        font-weight: 700
        line-height: 1em

.about .center-card
    margin-left: 38% !important

// services section styles

.services .title-lg
    transform: translateY(300%)
    text-align: center
    font-family: $bold
    font-size: 3.5em
    font-weight: 700
    text-transform: uppercase
    text-shadow: 1px 1px 40px #fff

.services table
    margin: 5em 0
    .table-btn
        width: 250px

// advantages section styles

.advantages
    padding: 3em 0
    background-image: url(../img/advantages_bg.png)
    background-repeat: no-repeat
    background-position: 0 -400%
    background-size: cover
    .title-lg
        text-align: center
        font-family: $bold
        font-size: 3.5em
        font-weight: 700
        line-height: 1.2em
        text-transform: uppercase
        margin-bottom: 2em
    .title-md
        font-family: $bold
        font-size: 2em
        font-weight: 700
        line-height: 1em
    &-content i
        display: block
        height: 90px
        width: 90px
        border: 2px solid $blue
        border-radius: 50px
        margin-right: 2em
        background-repeat: no-repeat
        background-position: center
        background-color: #fff 
    &-content p
        margin-bottom: 0

.advantages-content
    &_icon1
        background-image: url(../img/adv_icon_1.png)
    &_icon2
        background-image: url(../img/adv_icon_5.png)
    &_icon3
        background-image: url(../img/adv_icon_2.png)
    &_icon4
        background-image: url(../img/adv_icon_6.png)
    &_icon5
        background-image: url(../img/adv_icon_3.png)
    &_icon6
        background-image: url(../img/adv_icon_7.png)
    &_icon7
        background-image: url(../img/adv_icon_4.png)
    &_icon8
        background-image: url(../img/adv_icon_8.png)

// stages saction style

.stages 
    padding-bottom: 1em

.stages .title-sm
    text-align: center
    font-family: $bold
    font-size: 2em
    font-weight: 700
    line-height: 1em
    color: #fff
    margin: 3em 0

.stages .title-lg
    text-align: center
    font-family: $bold
    font-size: 3.5em
    font-weight: 700
    line-height: 1.2em
    text-transform: uppercase
    margin: 2em 0

.stages .steps i
    display: block
    height: 100px
    width: 100px
    margin: 0 auto
    margin-bottom: 2em
    background-position: center
    background-repeat: no-repeat
    background-size: contain

.stages .steps
    text-align: center
    margin-bottom: 5em

.steps_icon1
    background-image: url(../img/steps_icon1.png)
.steps_icon2
    background-image: url(../img/steps_icon2.png)
.steps_icon3
    background-image: url(../img/steps_icon3.png)
.steps_icon4
    background-image: url(../img/steps_icon4.png)
.steps_icon5
    background-image: url(../img/steps_icon5.png)
.steps_icon6
    background-image: url(../img/steps_icon6.png)
.steps_icon7
    background-image: url(../img/steps_icon7.png)

// gallery section styles

.gallery-section 
    padding-bottom: 3em
    .title-lg
        text-align: center
        font-family: $bold
        font-size: 3.5em
        font-weight: 700
        line-height: 1.2em
        text-transform: uppercase
        margin: 2em 0
    .title-sm
        text-align: center
        font-family: $bold
        font-size: 2em
        font-weight: 700
        line-height: 1em
        color: #fff
        margin-bottom: 1.5em
    .gallery-content-box
        display: flex
        height: 100%
        width: 100%
        flex-direction: column
        justify-content: center
        align-items: center

// feedbacks section styles
.feedbacks
    &-content-box
        display: flex
        height: 100%
        width: 100%
        flex-direction: column
        justify-content: center
        align-items: center
        .title-lg
            text-align: center
            font-family: $bold
            font-size: 3.5em
            font-weight: 700
            line-height: 1.2em
            text-transform: uppercase
    .card 
        min-height: 270px
    .parallax-container
        margin-bottom: 3em

// footer styles
.page-footer
    padding-top: 3em
    .title-lg
        text-align: center
        font-family: $bold
        font-size: 3.5em
        font-weight: 700
        line-height: 1.2em
        text-transform: uppercase
    .phone-num
        display: block
        color: #fff
    .title-md
        text-align: center
        font-family: $bold
        font-size: 2em
        font-weight: 700
        line-height: 1em
    .footer-btn
        width: 100%
        margin-top: 2em
    .social-block
        justify-content: start 
        a 
            font-size: 3em
            margin-left: 1em
            margin-top: .3em
        a:first-child
            margin-left: 0
// animation css

@keyframes animate
    0% 
        transform: translate(-50%,15px)
    35%
        transform: translate(-50%,30px)
    70%
        transform: translate(-50%,20px)
    100%
        transform: translate(-50%,15px)

// toggler styles

.nav-toggler
    display: block
    position: absolute
    top: 10%
    left: 85%
    width: 40px
    height: 40px
    transition: all .3s
    span, span::after, span::before
        display: block
        position: relative
        width: 26px
        height: 3px
        top: 18px
        left: 6px
        background-color: $dark
        content: ''

.nav-toggler span::after
    top: 5px
    left: 0
    transition: all .3s

.nav-toggler span::before
    top: -8px
    left: 0
    transition: all .3s

.toggler-active span
    height: 0

.toggler-active span::after
    top: -1px
    transition: all .3s
    transform: rotate(135deg)

.toggler-active span::before
    top: 2px
    transition: all .3s
    transform: rotate(-135deg)

.open-nav
    top: 50px

.modal 
    width: 30%
    button
        width: 100%
        margin-top: 1em
    h4 
        text-align: center
        font-family: $bold
        font-size: 2em
        font-weight: 700
        line-height: 1em
        margin-top: 1em