$blue: #03a9f4
$dark: #212121
$light: #f9f9f9
$bold: 'Cuprum', sans-serif

@import global
@import media

.nav-wrap
    position: fixed
    width: 100vw
    height: 55px
    z-index: 10
    background-color: $light
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14)

.main-logo
    margin-top: .9em

.main-nav
    display: flex
    height: 100%
    margin: 0
    padding: 1em 0
    flex-direction: row
    justify-content: space-around
    align-items: center
    li
        align-self: center
        a
            color: $dark
            font-weight: 600
            font-size: 1em
            &::after
                content: ''
                display: block
                width: 0
                height: 2px
                background-color: $blue
                transform: translateY(13px)
                transition: all .3s
            &:hover
                opacity: .8
                &::after
                    width: 100%

.social-block
    display: flex
    height: 100%
    margin: 0
    padding: .75em 0
    flex-direction: row
    justify-content: space-around
    align-items: center
    a 
        font-size: 1.3em
        color: $dark
        transition: all .3s
        &:hover
            opacity: .6 

.showcase
    position: relative
    width: 100%
    height: 85vh
    background-image: url(../img/showcase_bg.jpg)
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    padding-top: 2rem
    overflow: hidden
    &-wrap
        height: 80vh
        display: block
        .showcase-content
            display: flex
            height: 100%
            flex-direction: column
            align-items: left
            justify-content: center
            .title-lg
                font-family: $bold
                font-size: 5em
                font-weight: 700
                text-transform: uppercase
                text-shadow: 1px 1px 20px #fff
            .title-md
                font-family: $bold
                font-size: 3em
                font-weight: 700
                line-height: 1em
                text-shadow: 1px 1px 35px #fff
            .scroll-down-container
                position: absolute
                box-sizing: border-box
                top: 70vh
                left: 50vw
                &_icon
                    background-image: url(../img/spritesheet4.png)
                    background-repeat: no-repeat
                    background-position: -5px -5px
                    display: block
                    height: 73px
                    width: 33px
                    animation: animate 1s linear infinite

.main-btn 
    margin-top: 3em
    width: 30%

.about .title-lg
    margin-top: 1em
    text-align: center
    font-family: $bold
    font-size: 5em
    font-weight: 700
    text-transform: uppercase

.about .card 
    min-height: 150px
    .card-title
        font-family: $bold
        font-size: 3em
        font-weight: 700
        line-height: 1em

.about .center-card
    margin-left: 38% !important

.services .title-lg
    transform: translateY(160%)
    text-align: center
    font-family: $bold
    font-size: 5em
    font-weight: 700
    text-transform: uppercase
    text-shadow: 1px 1px 40px #fff

.services table
    margin: 5em 0
    .table-btn
        width: 250px

.advantages
    padding: 3em 0
    .title-lg
        text-align: center
        font-family: $bold
        font-size: 5em
        font-weight: 700
        line-height: 1.2em
        text-transform: uppercase
        margin-bottom: .2em
    .title-md
        font-family: $bold
        font-size: 3em
        font-weight: 700
        line-height: 1em
    &-list li
        overflow: hidden
        box-sizing: border-box
        min-height: 100px
        margin-top: 3em
    &-list i
        display: block
        position: absolute 
        height: 90px
        width: 90px
        transform: translateX(-120%)
        border-radius: 50px
        border: 2px solid $blue
        background-image: url(../img/spritesheet.png)
        background-repeat: no-repeat

.advantages-list
    &_icon--1
        background-position: -5px -5px



@keyframes animate
    0% 
        transform: translate(-50%,15px)
    35%
        transform: translate(-50%,30px)
    70%
        transform: translate(-50%,20px)
    100%
        transform: translate(-50%,15px)


